
/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-neutral: #E5E5E5;
  --basic-extra-light: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;

  --special-red-hover: #E74246;
  --special-red-active: #D7373B;
  --special-green-hover: #00BC6C;
  --special-green-active: #00AA62;
  --special-yellow-hover: #EAB534;
  --special-yellow-active: #E5A722;

}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-black);
  text-transform: none;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  display: inline-block;
}


img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
    padding-top: 49px;
    background-color: var(--basic-extra-light);
}

/* Main Logo */

.main-header-logo {
    width: 160px;
    height: 66px;
    margin: 0 0;
    padding: 0 0;
}

/* Main navigation */

.main-navigation {
    color: var(--basic-black);
    background-color: transparent;
}

.main-navigation-wrapper {
    width: 100%;
    height: auto;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-header-bar a {
    line-height: 30px;
}

.main-header-bar {
    width: 438px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    margin-top: 27px;
}

.site-navigation a {
    color: var(--basic-black);
    text-transform: uppercase;
}

.site-navigation a:hover {
    color: var(--basic-red);
    text-transform: uppercase;
}

.site-navigation a:active {
    color: rgba(0,0,0,0.3);
    opacity: 0.3;
}

.site-navigation-item.current a {
    color: var(--basic-black);
    border-bottom: 2px solid var(--basic-red);
    padding-bottom: 13px;
}

/* Basket navigation */


.basket-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115px;
    margin: 0 0;
    padding: 0 0;
    margin-top: 27px;
}


.basket-link {
    color: var(--basic-black);
    text-transform: uppercase;
    margin-left: 25px;
}

.basket-link:hover {
    color: var(--basic-red);
}

.basket-link:active {
    color: var(--basic-black);
    opacity: 0.5;
}

/* Container */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 0;
}

/* Slider */

.slider-wrapper {
    background-color: var(--basic-extra-light);
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

.slider-wrapper::before {
    background-color: var(--basic-extra-light);
    position: absolute;
    z-index: -1;
    content: "";
    height: 100%;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.slider a {
    display: inline-block;
}

.slider h2 {
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    font-weight: 500;
    padding: 78px 0 0 0;
    margin: 0 0 25px 0;
}

.slider p{
    margin: 0 0 38px 0;
}

.sliders-list {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}

.slider-item.slide:nth-child(1) {
    max-width: 1157px;
    height: 431px;
    background: var(--basic-extra-light) url("img/slider1.png") no-repeat right;
}

.slider-item.slide:nth-child(2) {
    max-width: 1157px;
    height: 431px;
    background: var(--basic-extra-light) url("img/slider2.png") no-repeat right;
}

.slider-item.slide:nth-child(3) {
    max-width: 1157px;
    height: 431px;
    background: var(--basic-extra-light) url("img/slider3.png") no-repeat right;
}

.slider-controls {
    display: flex;
    width: 88px;
    justify-content: space-between;
    position: absolute;
    bottom: 96px;
    left: 536px;
    z-index: 20;
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .current {
    position: relative;
    background-color: var(--basic-white);
}

.slider-controls .current::after {
    position: absolute;
    content: '';
    right: 5px;
    bottom: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 2px solid #C2C2C2;
}

.slider {
    position: relative;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}

/* Buttons */

.button {
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: none;
    padding: 17px 40px;
    border-radius: 3px;
}

.button:hover {
    background-color: var(--special-red-hover);
}

.button:active {
    background-color: var(--special-red-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,0.3);
}

.button-green {
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-green);
    border: none;
    padding: 17px 40px;
    border-radius: 3px;
}

.button-green:hover {
    background-color: var(--special-green-hover);
}

.button-green:active {
    background-color: var(--special-green-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,0.3);
}

.button-yellow {
    text-transform: uppercase;
    color: var(--basic-white);
    vertical-align: middle;
    background-color: var(--basic-yellow);
    border: none;
    padding: 17px 40px;
    border-radius: 3px;
}

.button-yellow:hover {
    background-color: var(--special-yellow-hover);
}

.button-yellow:active {
    background-color: var(--special-yellow-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,0.3);
}

/* Services */

.services {
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    margin-top: 80px;
}

.services-wrapper {
    background-color: var(--basic-white);
}

.services-list {
    display: flex;
    list-style: none;
    padding: 0 0;
    margin: 0 0;

}

.service-item {
    width: 300px;
    margin-right: 100px;
    height: auto;
}

.service-item:last-child {
    margin-right: 0;
}

.services h3{
    font-size: 24;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 25px 0 16px 0;
}

.service-item img{
    width: 400px;
    height: 146px;
}

.services p{
    color: var(--basic-extra-dark);
    padding: 0 0;
    margin: 0 0;
    margin-bottom: 32px;
    line-height: 24px;
}

.services a {
    display: inline-block;
}

/* Visually hidden */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Index columns */

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 149px;
  border-top: 2px solid var(--basic-extra-light);
}

/* About */

.about {
    margin: 0;
    padding-top: 73px;
    min-width: 651px;
}

.about ul {
    list-style: none;
    padding: 0 0;
}

.about-services-list {
    margin: 0;
    padding: 0;
}

.about-services-list img {
    margin: 0 8px 0 0;
    vertical-align: middle;
}

.about h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 32px;
}

.about strong {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-extra-black);
    margin: 0;
    margin-bottom: 23px;
}

.about p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: var(--basic-extra-dark);
    margin: 0 0 40px 0;
}

.about a{
    color: var(--basic-black);
}

.about a:hover{
    color: var(--basic-red);
}

.about-services-list li{
    margin: 0;
    margin-bottom: 24px;
}

/* Features */

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    height: auto;
}

.features strong {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 31px;
}

.features img {
    margin: 40px 0;
}

.features h2 {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
}

.feature-item p {
    margin: 0;
    margin-top: 10px;
}

/* Clients */

.clients-wrapper {
    margin-top: 0;
    margin-top: 75px;
    margin-bottom: 80px;
    padding-top: 46px;
    padding-bottom: 44px;
    border-top: 2px solid var(--basic-extra-light);
    border-bottom: 2px solid var(--basic-extra-light);
}

.clients-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 0;
    padding-left: 32px;
    margin: 0 0;
    height: 90px;
}

.client-item.html-academy {
    padding: 0;
    margin: 0;
    padding-right: 48px;
    margin-right: 45px;
    position: relative;
}

.client-item.html-academy::after {
    content: " ";
    position: absolute;
    height: 52px;
    background: var(--basic-extra-light);
    width: 2px;
    left: 100%;
    top: 19px;
}

.client-item.borodinsky {
    padding: 0;
    margin: 0;
    padding-right: 44px;
    margin-right: 58px;
    position: relative;
}

.client-item.borodinsky::after {
    content: " ";
    position: absolute;
    height: 52px;
    background: var(--basic-extra-light);
    width: 2px;
    left: 100%;
    top: 19px;
}

.client-item.pink {
    padding: 0;
    margin: 0;
    padding-right: 55px;
    margin-right: 53px;
    position: relative;
}

.client-item.pink::after {
    content: " ";
    position: absolute;
    height: 52px;
    background: var(--basic-extra-light);
    width: 2px;
    left: 100%;
    top: 19px;
}

.client-item img{
    opacity: 0.5;
}

.client-item img:hover{
    opacity: 1;
}

.client-item img:active{
    opacity: 0.5;
}

/* Контакты */

.map {
    background-color: var(--basic-extra-light);
}

.map-wrapper {
    background-color: var(--basic-extra-light);
    min-height: 416px;
}

.contact-details {
    display: inline-block;
    margin: 0 0;
    margin-top: 54px;
    margin-bottom: 54px;
    padding: 49px 39px 52px 50px;
    background-color: var(--basic-white);
    margin-right: 841px;
}

.contact-details h3 {
    text-transform: uppercase;
    color: inherit;
    padding: 0 0;
    margin: 0 0;
}

.contact-details #tel {
    color:  #666666;
    margin: 0 0;
    padding: 0 0;
}

.contact-details p {
    color: #666666;
    margin: 22px 0 54px 0;
}

/* Main footer */

.main-footer {
    margin: 0;
    padding: 0;
    padding-top: 69px;
    padding-bottom: 70px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 258px max-content;
}

.social-icons-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    height: auto;
    list-style: none;
}

.social-icon-item {
    margin: 0 0;
    padding: 0 0;
}


.promo {
    display: block;
    margin-left: 140px;
}

.main-footer ul {
    list-style: none;
}

.main-footer h3 {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 10px;
}

.main-footer p {
    color: var(basic-dark);
    line-height: 22px;
    margin: 0 0;
    padding: 0 0;
}

/* Catalog */

.page-catalog {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-column-gap: 140px;
    align-content: start;
}

.page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding: 72px 207px 108px 208px;
}

.page-title-wrapper {
    grid-column: 1 / -1;
    background-color: var(--basic-extra-light);
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    margin-bottom: 55px;
}

.page-title-wrapper::before {
    background-color: var(--basic-extra-light);
    position: absolute;
    z-index: -1;
    content: "";
    height: 100%;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.pagination {
    grid-column: 2 / -1;
    margin: 0;
    padding: 0;
    margin-top: 54px;
    margin-bottom: 60px;
}

.pagination-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination-item {
    display: inline-block;
    margin: 54px 11px 60px 0;
    margin: 0;
    padding: 0;
    margin-right: 11px;
}

.pagination-item a {
    display: flex;
    color: var(--basic-black);
    font-weight: 500;
    background-color: var(--basic-extra-light);
    border-radius: 3px;
    min-width: 50px;
    min-height: 50px;
    box-sizing: border-box;
    align-items:center;
    justify-content: center;

}

.pagination-item.large a {
    background-color: var(--basic-extra-light);
    min-width: 260px;
}

.pagination-item a:hover {
    background-color: var(--basic-extra-light);
    background-color: #DFDFDF;
}

.pagination-item a:active {
    background-color: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item.current a {
    background: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
    border-radius: 3px;
    text-align: center;
    line-height: 18px;
}


/*Products */

.products {
    grid-column: 2 / -1;
    margin: 0;
    padding: 0;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 54px;
}


.products-item svg{
    display: block;
    opacity: 0.5;
}

.products-item {
    position: relative;
    width: 360px;
    max-height: 620px;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    margin-bottom: 30px;
}

.products-item:nth-child(2n) {
    margin-right: 0;
}

.products-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.product-info {
    display: block;
    position: absolute;
    top: 389px;
    left: 0;
    width: 360px;
    opacity: 0;
    background-color: var(--basic-extra-light);
    text-align: center;
    overflow: hidden;
    border-radius: 0 0 5px 5px;

}

.products-item:hover .product-info {
    display: block;
    opacity: 1;
    transition: all 0.5s linear;
    overflow: hidden;
}

.products-item:hover svg {
    opacity: 1;
    transition: all 0.5s linear;
}

.product-info {
    padding-top: 26px;
    padding-bottom: 44px;
}

.product-info a {
    font-size: 16px;
    line-height: 18px;
    padding: 17px 72px 15px 72px;
}

.product-info h3 {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 12px;
    margin: 0 0;
}

.product-info h3:hover {
    color: var(--basic-red);
}

.product-info h3:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.product-info p {
    color: #666666;
    line-height: 18px;
    padding-bottom: 32px;
    margin: 0 0;
}

/* Filters */

.filters {
    width: 260px;
}

.filter fieldset{
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 48px;
}

.filter fieldset:first-child {
    margin-bottom: 54px;
}

.filter fieldset:nth-child(2) {
    margin-bottom: 43px;
}

.filter legend {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
}

.filter label {
    color: #283136;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price legend {
    margin: 0;
    padding: 0;
}

.range-filter {
    width: 260px;
    margin-top: 48px;
}

.range-controls {
    position: relative;
    height: 41px;
    background-color: var(--basic-extra-light);
    margin-bottom: 14px;
    border-radius: 3px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.range-controls .scale {
    height: 2px;
    background: #D7DCDF;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: var(--basic-green);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle:focus {
    outline: inherit;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls input {
    font-size: 16px;
    font-family: inherit;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    width: 60px;
    border: none;
    border-radius: 3px;
    background-color: var(--basic-extra-light);
}

.price-controls input:focus {
    outline: inherit;
}

.price-controls input:active {
    outline: inherit;
}

.grid-type legend {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
}

.additional-advantages legend {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
}

.filter-button.button {
    color: #000000;
    background-color: var(--basic-extra-light);
    padding: 17px 89px 15px 88px;
}

.filter-button.button:hover {
    color: #000000;
    background-color: #DFDFDF;
}

.filter-button.button:active {
    background-color: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
    color: rgba(1, 1, 1, 0.3);
}

.filter-option {
    margin-bottom: 19px;
    padding-left: 36px;
}


.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    width: 17px;
    height: 17px;
    border: 4px solid #4D4D4D;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:hover + label::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    opacity: 1;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: #4D4D4D;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked:hover + label::after {
    opacity: 1;
}

.filter-input-checkbox + label::before {
    content: url("../img/checkbox-unselected.svg");
    position: absolute;
    left: -35px;
    top: 0;
    width: 23px;
    height: 23px;
    opacity: 0.4;
}

.filter-input-checkbox:hover + label::before {
    opacity: 1;
}

.filter-input-checkbox:checked + label::after {
  content: url("../img/checkbox-selected.svg");
  position: absolute;
  left: -35px;
  width: 26px;
  height: 23px;
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-checkbox:checked:hover + label::after {
    content: url("../img/checkbox-selected-hover.svg");

}

/* Sort */

.sort-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.sort {
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}

.sort h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.sort-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 272px;
    height: 18px;
    margin: 0;
    padding: 0;
    margin-left: 266px;
    margin-right: 47px;

}

.sort a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(1, 1, 1, 0.3);
    margin: 0;
    padding: 0;
}

.sort a:hover {
    color: rgba(1, 1, 1, 0.6);
}

.sort a:active {
    color: rgba(1, 1, 1, 1);
}

.sort-list .current {
    color: var(--basic-black);
}

.sort-nav-direction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 40px;
    height: 10px;
}

.sort-dir {
    opacity: 0.2;
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--basic-white);
}

.sort-dir.hover {
    opacity: 0.4;
}

.sort-dir:active {
    opacity: 1;
}

.sort-dir.current {
    opacity: 1;
}

/* Grid */

.page {
    height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
