
/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-neutral: #E5E5E5;
  --basic-extra-light: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;

  --special-red-hover: #E74246;
  --special-red-active: #D7373B;
  --special-green-hover: #00BC6C;
  --special-green-active: #00AA62;
  --special-yellow-hover: #EAB534;
  --special-yellow-active: #E5A722;

}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-black);
  text-transform: none;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
  padding: 0 0;
}

.site-navigation a {
    color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation a:hover {
  color: var(--basic-red);
  text-transform: uppercase;
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.5;
}

.basket-link {
    color: var(--basic-black);
    text-transform: uppercase;
}

.basket-link:hover {
    color: var(--basic-red);
}

.basket-link:active {
    color: var(--basic-black);
    opacity: 0.5;
}

/* Main header */

.main-header {
    color: var(--basic-white);
    background-color: var(--basic-extra-light);
    background-position: 0 0;
    background-repeat: none;
}

/* Slider */

.slider-wrapper {
    width: 100%;
    height: auto;
    background-color: var(--basic-extra-light);
}

.slider h2 {
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    font-weight: 500;
    padding: 80px 0 0 0;
    margin: 0 0 25px 0;
}

.slider p{
    margin: 0 0 38px 0;
}

.sliders-list {
    list-style: none;
}

.slider .slider1{
    max-width: 1157px;
    height: 431px;
    background: var(--basic-extra-light) url("img/slider1.png") no-repeat right;
}

.slider .slider2{
    max-width: 1157px;
    height: 431px;
    background: var(--basic-extra-light) url("img/slider2.png") no-repeat right;
}

.slider .slider3{
    max-width: 1157px;
    height: 431px;
    background: var(--basic-extra-light) url("img/slider3.png") no-repeat right;
}

/* Buttons */

.button {
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: none;
    padding: 17px 40px;
    border-radius: 3px;
}

.button:hover {
    background-color: var(--special-red-hover);
}

.button:active {
    background-color: var(--special-red-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,0.3);
}

.button-green {
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-green);
    border: none;
    padding: 17px 40px;
    border-radius: 3px;
}

.button-green:hover {
    background-color: var(--special-green-hover);
}

.button-green:active {
    background-color: var(--special-green-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,0.3);
}

.button-yellow {
    text-transform: uppercase;
    color: var(--basic-white);
    vertical-align: middle;
    background-color: var(--basic-yellow);
    border: none;
    padding: 17px 40px;
    border-radius: 3px;
}

.button-yellow:hover {
    background-color: var(--special-yellow-hover);
}

.button-yellow:active {
    background-color: var(--special-yellow-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,0.3);
}

/* Services */

.services-wrapper {
    background-position: center;
    background-color: var(--basic-white);

}

.services h3{
    font-size: 24;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 25px 0 16px 0;
}
.services p{
    color: var(--basic-extra-dark);
    margin: 0px 0 32px 0;
}

.services-list {
    list-style: none;
    padding: 0 0;

}

.service-item {
    width: 300px;
    height: auto;
    margin: 80px 0;
}

/* Visually hidden */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* About */


.about ul {
    list-style: none;
    padding: 0 0;
}

.about-services-list img {
    margin: 0 8px 0 0;
    vertical-align: middle;
}

.about .left h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    text-transform: none;
    color: var(--basic-black);
    margin: 80px 0 32px 0;
}

.about .left h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-extra-black);
    margin: 0;
}

.about .left p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: var(--basic-extra-black);
    margin: 0 0 40px 0;
}

.left a{
    color: var(--basic-black);
}

.left a:hover{
    color: var(--basic-red);
}

.about .right h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
}

.about .right img {
    margin: 40px 0;
}

.about .right h2 {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
}

/* Clients */

.clients ul {
    list-style: none;
    padding: 0 0;
}

.client-item img{
    opacity: 0.5;
}

.client-item img:hover{
    opacity: 1;
}

.client-item img:active{
    opacity: 0.5;
}
/* Контакты */

.map {
    background-color: var(--basic-neutral);
    margin: 80px 0;
}

.contact-details h3 {
    text-transform: uppercase;
    color: inherit;
    padding: 0 0;
    margin: 0 0;
}

.contact-details #tel {
    color:  #666666;
    margin: 0 0;
    padding: 0 0;
}

.contact-details p {
    color: #666666;
    margin: 22px 0 38px 0;
}

.contact-details {
    background-color: var(--basic-white);
}

/* Main footer */

.main-footer ul {
    list-style: none;
}

.main-footer h3 {
    font-size: 36px;
    color: inherit;
}

.main-footer p {
    color: #444444;
}
